<div class="col-xs-10 col-xs-offset-1 about">

	<h1>About Splurty</h1>

	<p>
		Splurty was built with tender loving care by <a target="_blank" href="http://github.com/harrisonlim">Harrison</a>, who is on a mission to learn coding to enable his goal of living abroad.
	</p>
	<br />
	<p>
		If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/">here</a>.
	</p>


	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'harry.jpg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Harrison Lim</h2>
		<br />
		<p>
			Harrison Lim is part-marketer, part-programmer, and all-round business developer. He previously worked in sales for a couple of years before deciding to take the plunge and live overseas in <a target="_blank" href="https://www.instagram.com/p/mOsiRspkGJ/?taken-by=ferrissian">South Korea</a> while starting an online business.
		<br /><br />
			Born and raised in Singapore, educated at the University of London and raised on American culture, he simply wants capitalism to actually mean something in this cold, cynical world. And also to stop worrying about money so much.
		</p>
	
</div>

<br class="clear" />
<br />
<br />
<br />
<br />